* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'mainregular';
    src: url(../font/static/DancingScript-Regular.ttf);
  }
@font-face {
    font-family: 'mainbold';
    src: url(../font/static/DancingScript-SemiBold.ttf);
  }

body {
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 1546.4vh;
    overflow-x: hidden;
    background: black;

    .header {
        width: 100%;
        height: 140vh;
        background-image: url(../img/__1\ \(2\).jpg);
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .menu {
            width: 100%;
            height: 10vh;
            // border: 1px solid red;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 100px;
            >span {
                font-size: 28px;
                transform: scaleX(1.4);
                font-family: mainregular;
                color: #f4f6fa;
                >strong {
                    font-size: 45px;
                    font-weight: 100;
                }
            }
            >div {
                >span:nth-of-type(1) {
                    color: #f4f6fa;
                }
                >span:nth-of-type(2) {
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    color: #f4f6fa7d;
                    font-weight: bold;
                    font-size: 15px;
                }
            }
        }
        .all {
            width: 100%;
            height: 90vh;
            display: grid;
            grid-template-columns: 32% 32% 36%;
            grid-template-rows: 22% 22% 22% 34%;
            // >div {
            //     border: 1px solid red;
            // }
            margin-top: -35vh;
            .pearls {
                grid-column-start: 1;
                grid-column-end: 3;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #f4f6fa;
                >* {
                    height:100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 1;
                }
                >span {
                    color: #caa2fe;
                }
                >h1 {
                    font-family: mainbold;
                    font-size: 100px;
                    color: white;
                    margin-left: -120px;
                    >strong {
                        margin: 0 20px;
                        margin-top: -50px;
                        transform: scaleX(1.4) scaleY(1.9);
                    }
                    &:nth-of-type(2) {
                        margin-left: -200px;
                    }
                }
            }
            .titlesmall {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                >img {
                    position: absolute;
                    left: -10%;
                    top: 0;
                    width: 80%;
                    height: 100%;
                    object-fit: cover;
                }
                >p {
                    color: #254470;
                    position: absolute;
                    text-align: center;
                    // background-color: red;
                    width: 70%;
                    left: -5%;
                    height: 50%;
                    font-size: 16px;
                    font-family: mainregular;
                }
            }
            .pearlspic {
                grid-row-start: 2;
                grid-row-end: 5;
                display: flex;
                justify-content: center;
                align-items: center;
                >img {
                    width: 90%;
                    height: 90%;
                    object-fit: cover;
                }
            }
            .title1, .title2 {
                grid-column-start: 2;
                grid-column-end: 4;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: -120px;
                >h1 {
                    margin-top: -30px;
                    text-align: center;
                    font-size: 100px;
                    font-family: mainbold;
                    >strong {
                        margin: 0 10px;
                        font-size: 170px;
                        font-weight: 100;
                    }
                    .last {
                        font-size: 100px;
                        margin-left: -3%;
                    }
                    .textpic {
                        font-size: 100px;
                        position: relative;
                        overflow: hidden;
                        z-index: 999;
                        >img {
                            position: absolute;
                            width: 60%;
                            height: 51%;
                            border-radius: 50%;
                            transform: scaleY(1.2) rotate(35deg);
                            object-fit: cover;
                            top: 26%;
                            left: 7%;
                            z-index: -1;
                        }
                    }
                }
            }
            .title1 {
                color: #caa2fe;
            }
            .title2 {
                color: #f4f6fa;
            }
            .drive {
                grid-column-start: 2;
                grid-column-end: 4;
                display: flex;
                justify-content: end;
                align-items: center;
                position: relative;
                padding-right: 200px;
                >img {
                    // background-color: red;
                    position: absolute;
                    width: 40%;
                    height: 55%;
                    right: 20%;
                    top: 30%;
                }
                >p {
                    position: absolute;
                    width: 250px;
                    height: 50px;
                    color: #f4f6fa;
                    top: 53%;
                    right: 24%;
                    font-size: 15px;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-weight: 600;
                }
            }
        }
        .movingpearl {
            position: absolute;
            width: 140px;
            height: 140px;
            top: 46%;
            left: 10.5%;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .movingbottle {
            position: absolute;
            width: 300px;
            height: 100px;
            top: 15%;
            right: -10%;
            >img {
                width: 100%;
                height: 200%;
                object-fit: cover;
            }
            animation: bottle infinite linear alternate 1.5s;
        }
        .movinggrass {
            position: absolute;
            top: 40%;
            left: 6%;
            width: 600px;
            height: auto;
            >img {
                width: 100%;
                object-fit: cover;

            }
            animation: bottle infinite linear alternate 2s;
        }
        .movingfish {
            position: absolute;
            bottom: 30%;
            right: -3%;
            width: 100px;
            >img {
                width: 100%;
            }
            animation: fish infinite linear 10s;
        }
        @keyframes bottle {
            0% {transform: rotate(0deg);}
            100% {transform: rotate(-15deg);}
        }
        @keyframes fish {
            0% {bottom: 30%; right: -3%;}
            5% {bottom: 30%; right: -3%;}
            30% {bottom: 45%; right: 30%;}
            100% {bottom: 100%; right: 103%;}
        }
    }
    .pearlbirth {
        width: 100%;
        height: 260vh;
        background-color: #f1f3f4;
        overflow-x: hidden;
        position: relative;
        .title3 {
            position: relative;
            width: 98%;
            text-align: center;
            color: #ab89d6;
            font-size: 100px;
            font-family: mainbold;
            margin-left: -8%;
            z-index: 2;
            >strong {
                font-size: 190px;
                font-weight: 100;
            }
            letter-spacing: 10px;
        }
        .title4 {
            position: relative;
            z-index: 2;
            width: 67%;
            text-align: center;
            color: #ab89d6;
            font-size: 100px;
            font-family: mainbold;
            margin-left: 24%;
            margin-top: -85px;
            color: #244579;
            >strong {
                font-size: 190px;
                font-weight: 100;
            }
            letter-spacing: 10px;
        }
        .row1 {
            width: 100%;
            height: 400px;
            // background-color: rgba(255, 0, 0, 0.66);
            display: flex;
            flex-wrap: nowrap;
            .pearlmoving {
                width: 50%;
                position: relative;
                z-index: 2;
                >figure {
                    position: absolute;
                    top: 20%;
                    left: 90%;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    >img {
                        width: 80%;
                        height: 80%;
                        object-fit: contain;
                    }
                    >picture {
                        position: absolute;
                        left: 35%;
                        top: 40%;
                        >img {
                            width: 35px;
                            height: 35px;
                            object-fit: cover;
                        }
                    }
                }
            }
            .suggestion {
                width: 50%;
                // background-color: rgb(238, 255, 0);
                margin-left: 30%;
                position: relative;
                >figure {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    >p {
                        text-align: left;
                        position: absolute;
                        width: 40%;
                        height: 80%;
                        font-family: mainregular;
                        font-size: 17px;
                        top: 30%;
                        left: 10%;
                    }
                    >img {
                        width: 80%;
                        height: 80%;
                        object-fit: contain;
                    }
                }
                >img {
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    top: 37%;
                    right: 25%;
                }
            }
        }
        .row2 {
            width: 100%;
            height: 400px;
            // background-color: rgba(0, 0, 255, 0.568);
            display: flex;
            flex-wrap: nowrap;
            position: relative;
            >div {
                width: 60%;
                // background-color: green;
                padding: 5% 3.5% 0 35%;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                >h4 {
                    white-space: pre-line;
                    color: #475264;
                    font-size: 20px;
                }
                >p {
                    margin-top: 20px;
                    color: #475264ee;
                    font-size: 15px;
                }
            }
            >figure {
                width: 40%;
                height: 80%;
                position: relative;
                // background-color: yellow;
                display: flex;
                justify-content: center;
                align-items: center;
                left: -5%;
                top: 20%;
                >img {
                    position: absolute;
                    width: 70%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .row3 {
            // background-color: red;
            width: 100%;
            height: 300px;
            display: flex;
            flex-wrap: nowrap;
            >figure {
                width: 60%;
                >img {
                    margin-left: 55%;
                    width: 30%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            >div {
                width: 40%;
                margin-top: 5%;
                padding: 0 15% 0 5%;
                >h4 {
                    white-space: pre-line;
                    color: #475264;
                    font-size: 20px;
                }
                >p {
                    margin-top: 20px;
                    color: #475264ee;
                    font-size: 15px;
                }
            }
        }
        .row4 {
            width: 100%;
            height: 240px;
            // background-color: rgba(255, 0, 0, 0.519);
            display: flex;
            flex-wrap: nowrap;
            position: relative;
            >div {
                width: 18%;
                height: 100%;
                // border: 2px solid black;
                margin: 2% 34% 0 33%;
                >h4 {
                    white-space: pre-line;
                    color: #475264;
                    font-size: 20px;
                }
                >p {
                    margin-top: 20px;
                    color: #475264ee;
                    font-size: 15px;
                }
            }
            >figure {
                position: absolute;
                width: 40%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 10%;
                // position: relative;
                >img {
                    width: 40%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            >img {
                position: absolute;
                width: 100px;
                height: 100px;
                object-fit: cover;
                right: 18%;
                top: 20%;
                animation: star infinite 10s;
            }
            @keyframes star {
                0% {
                    transform: rotate(0deg);
                }
                0% {
                    transform: rotate(360deg);
                }
            }
        }
    }
    .movingcloud {
        position: absolute;
        width: 1000px;
        top: -5vh;
        left: -100%;
        z-index: 0;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .movinggrassblue {
        position: absolute;
        width: 600px;
        height: 700px;
        top: 110vh;
        left: -20%;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        animation: bottle infinite linear alternate 2s;
    }
    .movinggrassgreen {
        position: absolute;
        width: 600px;
        height: 500px;
        right: -20%;
        top: 350vh;
        z-index: 10;
        >img {
            width: 100%;   
            height: 100%;
            object-fit: cover;
        }
        animation: bottle infinite linear alternate 2s;

    }
    .bubble1 {
        position: absolute;
        width: 120px;
        height: 120px;
        top: 290vh;
        left: 2%;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .bubble2 {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 260vh;
        left: 10%;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .bubble3 {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 430vh;
        right: 20%;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        z-index: 999;
    }
    .toppic, .bottompic {
        position: absolute;
        width: 120%;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .toppic {
        left: -1%;
        top: 109.1vh;        
        transform: rotateY(180deg);

    }
    .bottompic {
        transform: rotateZ(180deg);
        top: 399vh;
        left: -1%;
        z-index: 2;
    }
    .crown {
        width: 100%;
        margin-top: 10vh;
        height: 136vh;
        background-image: url(../img/__1\ \(2\).jpg);
        position: relative;
        .wave {
            position: absolute;
            width: 100%;
            height: 350px;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            z-index: 1;
        }
        .wave1 {
            width: 105%;
            bottom: -11%;
            z-index: 4;
            left: -10%;
            animation: wave2 1s infinite alternate;
        }
        .wave2 {
            height: 400px;
            bottom: -11%;
            z-index: 3;
            left: -10%;
            animation: wave1 1s infinite alternate;
        }
        .wave3 {
            z-index: 1;
            bottom: 5%;
            animation: wave1 1s infinite alternate;
        }
        @keyframes wave1 {
            0%{left: 0;}
            100%{left: -30px;}
        }
        @keyframes wave2 {
            100%{left: 0px;}
            0%{left: -30px;}
        }
        .person {
            position: absolute;
            width: 900px;
            height: 900px;
            z-index: 2;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            top: 65vh;
            left: 15%;
        }
        .cloud1, .cloud2 {
            position: absolute;
            width: 500px;
            height: 250px;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            top: 30vh;
        }
        .cloud1 {
            left: -37%;
        }
        .cloud2{
            left: 100%;
        }
        .stone {
            position: absolute;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .stone1 {
            width: 30px;
            height: 30px;
            transform: rotateY(180deg);
            top: 67.2vh;
            left: 48.1%;
        }
        .stone2 {
            width: 25px;
            height: 25px;
            top: 70.2vh;
            left: 45.7%;
        }
        .stone3 {
            width: 15px;
            height: 15px;
            top: 75.4vh;
            left: 43.6%;
        }
        .stone4 {
            width: 18px;
            height: 18px;
            top: 72.8vh;
            left: 44.25%;
        }
        .stone5 {
            width: 25px;
            height: 25px;
            top: 67.7vh;
            left: 50.4%;
            transform: rotate(10deg);
        }
        .stone6 {
            width: 17px;
            height: 17px;
            top: 68.5vh;
            left: 52.6%;
        }
        .stone7 {
            width: 17px;
            height: 17px;
            top: 70.6vh;
            left: 53.9%;
            transform: rotate(2deg);
        }
        .stone8 {
            width: 13px;
            height: 14px;
            top: 76.8vh;
            left: 53%;
            z-index: 99;
        }
        .stone9 {
            width: 13px;
            height: 13.5px;
            top: 80vh;
            left: 46.5%;
            z-index: 99;
        }
        .stone10 {
            width: 5px;
            height: 5px;
            top: 76.9vh;
            left: 49.3%;
            z-index: 99;
        }
        .stone11 {
            width: 5px;
            height: 5px;
            top: 76.4vh;
            left: 50.5%;
            z-index: 99;
        }
        .stone12 {
            width: 5px;
            height: 5px;
            top: 77.9vh;
            left: 50.1%;
            z-index: 99;
        }
    }
    .toppic2 {
        position: absolute;
        left: -1%;
        top: 535vh;        
        transform: rotateY(180deg);
        z-index: 10;
    }
    .bodys {
        width: 100%;
        position: relative;
        height: 210vh;
        background-color: #f1f3f4;
        .title5 {
            margin-top: 135px;
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: end;
            flex-wrap: nowrap;
            >p {
                width: 100px;
                height: 170px;
                margin-left: -30%;
                color: #caa2fe;
            }
            >h2 {
                width: 700px;
                height: 280px;
                font-family: mainbold;
                font-size: 110px;
                color: #ab89d6;
                letter-spacing: 5px;
                >strong {
                    font-size: 200px;
                    font-weight: 100;
                }
            }
        }
        .title6, .title7 {
            width: 100%;
            height: 100px;
            font-size: 120px;
            font-family: mainbold;
            padding-left: 30%;
            margin-top: -11%;
            letter-spacing: 5px;
            color: #254470;
                >strong {
                    font-size: 200px;
                    font-weight: 100;
                }
        }
        .title7 {
            margin-top: 2% !important;
            padding-left: 29%;
        }
        >div:nth-of-type(4) {
            width: 100%;
            height: 100px;
            margin-top: 9%;
            padding: 0 50% 0 31%;
            white-space: break-spaces;
            font-size: 20px;
            color: #475264;
        }
        .middle {
            width: 100%;
            height: 640px;
            // background-color: red;
            margin-top: 10%;
            display: flex;
            flex-wrap: nowrap;
            >figure {
                width: 70%;
                position: relative;
                z-index: 999;
                // background-color: blue;
                display: flex;
                justify-content: center;
                align-items: center;
                >img {
                    width: 80%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            >div {
                // background-color: blue;
                width: 50%;
                padding: 12% 13% 0 5%;
                >h5 {
                    font-size: 18px;
                    color: #254470;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-weight: bold;
                }
                >p:nth-of-type(1) {
                    margin-top: 7%;
                    font-size: 15px;
                    color: #475264;
                }
                >p:nth-of-type(2) {
                    margin-top: 7%;
                    font-size: 15px;
                    color: #475264;
                }
            }
        }
        .seaanimal {
            position: absolute;
            width: 350px;
            height: auto;
            bottom: -59vh;
            left: -5%;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .fish2 {
            position: absolute;
            width: 120px;
            height: auto;
            top: 48vh;
            left: 15%;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            animation: fish2 infinite 25s;
        }
        @keyframes fish2 {
            0% {top: 48vh;left: 15%;}
            20% {top: 78vh;left:23%}
            22% {top: 78vh;left:23%}
            42% {top: 108vh;left:31%}
            62% {top: 108vh;left:62%; transform: rotate(-65deg);}
            64% {top: 108vh;left:62%; transform: rotate(-65deg);}
            82% {top: 78vh;left:80%; transform: rotate(-65deg);}
            84% {top: 78vh;left:80%; transform: rotate(-65deg);}
            100% {top: 48vh;left:112%; transform: rotate(-65deg);}
        }
        .fish3 {
            position: absolute;
            width: 300px;
            height: auto;
            top: 50vh;
            left: 2%;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .bibble4 {
            position: absolute;
            top: 20vh;
            right: 12%;
        }
        .bibble5 {
            position: absolute;
            width: 100px;
            >img {
                width: 100%;
                object-fit: cover;
            }
            top: 50vh;
            right: 7%;
        }
        .bibble6 {
            position: absolute;
            width: 50px;
            >img {
                width: 100%;
                object-fit: cover;
            }
            top: 72vh;
            right: 14%;
        }
        .boll {
            position: absolute;
            width: 45px;
            >img {
                width: 100%;
                object-fit: cover;
            }
            top: 72.3vh;
            right: 14.2%;
        }
    }
    .mountain {
        position: absolute;
        width: 100%;
        height: 260px;
        top: 755.7vh;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        z-index: 999;
    }
    .years {
            width: 100%;
            height: 450vh;
            background-image: url(../img/__1\ \(3\).jpg);
            background-size: cover;
            margin-top: 0vh;
            position: relative;
            .topyears {
                width: 100%;
                // background-color: red;
                height: 130vh;
                display: flex;
                flex-wrap: nowrap;
                >div{
                    width: 50%;
                    // background-color: yellow;
                    padding: 18% 13% 0 15%;
                    >h2 {
                        font-size: 110px;
                        font-family: mainbold;
                        font-weight: bold;
                        color: #ab89d6;
                        >strong {
                            font-size: 200px;
                            font-weight: 100;
                        }
                    }
                    >h2:nth-of-type(2) {
                        margin-top: -30%;
                        color: #f1f3f4;
                    }
                    >p {
                        font-size: 20px;
                        color: #f1f3f49f;
                        margin-top: 10%;
                        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    }
                }
                >figure {
                    width: 70%;
                    // background-color: blue;
                    position: relative;
                    margin-top: 10%;
                    >img:nth-of-type(1) {
                        width: 80%;
                        height: 80%;
                        object-fit: cover;
                        margin-top: 15%;
                        transform: rotate(15deg);
                    }
                    >img:nth-of-type(2) {
                        position: absolute;
                        width: 180px;
                        height: 180px;
                        object-fit: cover;
                        top: 57vh;
                        right: 51%;
                    }
                    >figure {
                        position: absolute;
                        width: 260px;
                        height: 110px;
                        top: 19vh;
                        right: 5%;
                        z-index: 999;
                        >img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transform: rotate(28deg);
                        }
                        >p {
                            position: absolute;
                            transform: rotate(28deg);
                            top: 36%;
                            left: 10%;
                            font-family: mainregular;
                            font-size: 20px;
                            color: #254470;
                        }
                    }
                }
            }
            .bluegrass {
                position: absolute;
                width: 800px;
                height: 800px;
                right: -37%;
                top: -2vh;
                animation: bottle infinite linear alternate 1.5s;
                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .insidepearl {
                width: 100%;
                height: 80vh;
                // background-color: red;
                display: flex;
                align-items: center;
                justify-content: end;
                position: relative;
                >figure {
                    width: 70%;
                    height: 50%;
                    position: relative;
                    padding-right: 4%;
                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    >div {
                        position: absolute;
                        top: 10vh;
                        right: 42%;
                        >div {
                            >h4 {
                                font-family: mainregular;
                                font-size: 40px;
                                letter-spacing: 3px;
                                color: #254470;
                                font-weight: 300;
                            }
                            >p:nth-of-type(1) {
                                margin-top: 7%;
                                font-family: mainregular;
                                font-size: 20px;
                                letter-spacing: 1px;
                                color: #254470;
                            }
                            >p:nth-of-type(2) {
                                font-family: mainregular;
                                font-size: 20px;
                                letter-spacing: 1px;
                                color: #254470;
                            }
                        }
                        >p {
                            position: absolute;
                            width: 150px;
                            color: #ab89d6;
                            font-size: 18px;
                            font-weight: bold;
                            top: 4vh;
                            right: -58%;
                        }
                    }
                }
                >img {
                    position: absolute;
                    width: 600px;
                    height: 600px;
                    top: 14vh;
                    right: -10%;
                    >img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .titleyears {
                width: 100%;
                height: 50vh;
                margin-top: -5%;
                // background-color: red;
                .titleY1 {
                    margin-top: 135px;
                    width: 100%;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    flex-wrap: nowrap;
                    >p {
                        width: 100px;
                        height: 170px;
                        margin-left: -30%;
                        color: #caa2fe;
                    }
                    >h2 {
                        width: 700px;
                        height: 280px;
                        font-family: mainbold;
                        font-size: 90px;
                        color: #f1f3f4;
                        letter-spacing: 5px;
                        >strong {
                            font-size: 160px;
                            font-weight: 100;
                        }
                    }
                }
                .titleY2{
                    width: 100%;
                    height: 100px;
                    font-size: 90px;
                    font-family: mainbold;
                    padding-left: 30%;
                    margin-top: -11%;
                    letter-spacing: 5px;
                    color: #caa2fe;
                        >strong {
                            font-size: 160px;
                            font-weight: 100;
                        }
                }
            }
            .text {
                width: 100%;
                height: 30vh;
                // background-color: red;
                margin-top: -5%;
                display: flex;
                align-items: center;
                justify-content: end;
                >div {
                    padding-right: 20%;
                    width: 570px;
                    font-size: 15px;
                    color: #f4f6fa;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    >h6 {
                        font-size: 22px;
                    }
                    >p {
                        margin-top: 8%;
                        line-height: 20px;
                    }
                }
            }
            .end {
                position: absolute;
                width: 100%;
                height: 70vh;
                bottom: 160px;
                // background-color: red;
                display: flex;
                flex-wrap: nowrap;
                >figure:nth-of-type(1) {
                    width: 35%;
                    // background-color: blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    >img {
                        width: 300px;
                        height: 300px;
                        object-fit: cover;
                    }
                }
                >figure:nth-of-type(2) {
                    width: 30%;
                    // background-color: yellow;
                    margin-left: 400px;
                    display: flex;flex-wrap: wrap;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 70px;
                    position: relative;
                    >* {
                        width: 100%;
                    }
                    >p {
                        text-align: center;
                        height: 10px;
                        position: absolute;
                        top: 80px;
                        font-size: 15px;
                        color: #caa2fe;
                    }
                    >img {
                        height: 180px;
                        width: 180px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                >div {
                    width: 35%;
                    width: 320px;
                    font-size: 14px;
                    color: #f4f6fa;
                    margin-top: 180px;
                    margin-left: 20px;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    >h6 {
                        font-size: 22px;
                    }
                    >p {
                        margin-top: 8%;
                        line-height: 20px;
                    }
                }
            }
    }
    .toppic3 {
        position: absolute;
        top: 1195vh;
        left: -2%;
    }
    .greengrassyear {
        position: absolute;
        width: 700px;
        height: 700px;
        left: -19%;
        top: 260vh;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        animation: bottle infinite linear alternate 2s;

    }
    .manyear {
        width: 700px;
        height: 700px;
        position: absolute;
        top: 255vh;
        left: 1%;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .bubble7 {
        position: absolute;
        width: 110px;
        height: 110px;
        position: absolute;
        top: 255vh;
        left: 45%;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .bubble8 {
        position: absolute;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 275vh;
        left: 40%;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .bubble9 {
        position: absolute;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 298vh;
        left: 43%;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .starsyaer {
        position: absolute;
        height: 240px;
        // background-color: rgba(255, 0, 0, 0.519);
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        right: -17%;
        >div {
            width: 18%;
            height: 100%;
            // border: 2px solid black;
            margin: 2% 34% 0 33%;
            >h4 {
                white-space: pre-line;
                color: #475264;
                font-size: 20px;
            }
            >p {
                margin-top: 20px;
                color: #475264ee;
                font-size: 15px;
            }
        }
        >figure {
            position: absolute;
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 10%;
            // position: relative;
            >img {
                width: 40%;
                height: 100%;
                object-fit: cover;
            }
        }
        >img {
            position: absolute;
            width: 100px;
            height: 100px;
            object-fit: cover;
            right: 18%;
            top: 50%;
            animation: star infinite 10s;
        }
        @keyframes star {
            0% {
                transform: rotate(0deg);
            }
            0% {
                transform: rotate(360deg);
            }
        }
    }
    .fishyear {
        position: absolute;
        top: 160vh;
        transform: rotate(-40deg);
        width: 150px;
        height: 100px;
        left: -10%;
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 999;
        }
        animation: fishyear infinite 40s;
        @keyframes fishyear {
            0%{left: -10%; top: 160vh;}
            100%{left: 110%; top: -40vh;}
        }
    }
    .whiteround {
        width: 100%;
        height: 170vh;
        background-color: #f1f3f4;
        .titlewhite {
            width: 100%;
            height: 50vh;
            margin-top: -5%;
            // background-color: red;
            .titler1 {
                margin-top: 70px;
                width: 100%;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: end;
                flex-wrap: nowrap;
                >p {
                    width: 100px;
                    height: 170px;
                    margin-left: -2%;
                    color: #caa2fe;
                }
                >h2 {
                    width: 1000px;
                    height: 280px;
                    font-family: mainbold;
                    font-size: 90px;
                    color: #caa2fe;
                    letter-spacing: 5px;
                    >strong {
                        font-size: 160px;
                        font-weight: 100;
                    }
                }
            }
            .titler2{
                width: 100%;
                height: 100px;
                font-size: 90px;
                font-family: mainbold;
                padding-left: 32%;
                margin-top: -11%;
                letter-spacing: 5px;
                color: #254470;
                z-index: 999;
                >strong {
                        font-size: 160px;
                        font-weight: 100;
                    }
            }
        }
        .rowwhite {
            width: 150%;
            height: 50vh;
            // background-color: red;
            display: flex;
            flex-wrap: nowrap;
            margin-left: -47%;
            position: relative;
            >div {
                width: 30%;
                // background-color: blue;
                position: relative;
                >figure {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    position: relative;
                    >img {
                        width: 80%;
                        height: 30%;
                        object-fit: cover;
                    }
                    >p {
                        position: absolute;
                        font-size: 17px;
                        width: 70%;
                        height: 30%;
                        letter-spacing: 0;
                        top: 42%;
                    }
                }
                >img  {
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    left: 45%;
                    top: 20%;
                    border-radius: 50%;
                };
            }
            >p {
                width: 30%;
                // background: green;
                font-size: 22px;
                letter-spacing: normal;
                padding: 0 2%;
                margin-top: 7%;
                color: #475264d6;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            }
            >figure {
                position: absolute;
                width: 40%;
                margin-top: -10%;
                z-index: 0;
                // background-color: yellow;
                right: -520px;
                >img {
                    width: 123%;
                    height: 100%;
                    object-fit: cover;
                    transform: rotateY(180deg);
                }
            }
        }
        .scroll {
            margin-left: -47%;
            height: 90vh;
            width: 147%;
            // background-color: red;
            overflow-y: hidden;
            overflow-x: scroll;
            display: flex;
            flex-wrap: nowrap;
            white-space: nowrap;
            padding-left: 30%;
            >* {
                margin: 0 5%;
                // border: 1px solid black;
                min-width: 320px;
                height: 50%;
                position: relative;
                margin-top: 3%;
                &:last-child {
                    margin-right: 0;
                }
                >figure {
                    width: 100%;
                    height: 110%;
                    position: relative;
                    >img {
                        width: 90%;
                        height: 100%;
                        object-fit: cover;
                    }
                    >div {
                        position: absolute;
                        color: #475264;
                        letter-spacing: normal;
                        top: 30%;
                        left: 20%;
                        >h6 {
                            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                            font-size: 20px;
                        }
                        >p {
                            margin-top: 20px;
                            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;font-size: 15px;
                        }
                    }
                }
                >img {
                    position: absolute;
                    &:nth-of-type(1) {
                        width: 170px;
                        height: 170px;
                        object-fit: contain;
                        bottom: -15%;
                        left: 20%;
                    }
                    &:nth-of-type(2) {
                        width: 90px;
                        height: 90px;
                        object-fit: contain;
                        top: 0;
                        right: 10%;
                    }
                }
                &:nth-of-type(even) {
                    margin-top: 13%;
                }
            }
        }
    }
    .bottompic2 {
        position: absolute;
        top: 1395vh;
        left: -10%;
        transform: rotateZ(180deg);
        z-index: 999;
    }
    .footer {
        width: 100%;
        height: 140vh;
        margin-top: 10vh;
        padding-top: 30vh;
        position: relative;
        background-image: url(../img/__1\ \(2\).jpg);
        >h4 {
            font-size: 20px;
            margin-left: 15%;
            color: #f1f3f4;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-weight: 400;
        }
        .titlefooter {
            width: 100%;
            margin-top: -4%;
            .titlef1 {
                position: relative;
                width: 98%;
                text-align: center;
                color: #caa2fe;
                font-size: 80px;
                font-family: mainbold;
                margin-left: -13%;
                z-index: 2;
                >strong {
                    font-size: 160px;
                    font-weight: 100;
                }
                letter-spacing: 10px;
            }
            .titlef2 {
                position: relative;
                z-index: 2;
                width: 67%;
                text-align: center;
                color: #f1f3f4;
                font-size: 80px;
                font-family: mainbold;
                margin-left: 13%;
                margin-top: -85px;
                >strong {
                    font-size: 160px;
                    font-weight: 100;
                }
                letter-spacing: 10px;
            }
        }
        >div:nth-of-type(2) {
            width: 100%;
            height: 30vh;
            // background-color: red;
            margin-top: 5%;
            padding: 0 10%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            >div:nth-last-of-type(1) {
                width: 26%;
                height: 100%;
                // background-color: blue;
                margin-right: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                color: #f1f3f4;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            }
            >div:nth-last-of-type(2) {
                width: 30%;
                height: 100%;
                // background-color: blue;
                padding: 5%;
                display: flex;
                flex-wrap: wrap;
                >* {
                    width: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    >img {
                        width: 40px;
                        height: 40px;
                    }
                    >a {
                        margin-left: 10px;   
                        margin-top: 8px;
                        text-decoration: none;
                        color: #f1f3f4;
                        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                        font-weight: 500;
                        font-size: 20px;
                    }
                }
            }
        }
        >span {
            position: absolute;
        }
        .mountainfooter {
            width: 100%;
            height: 25vh;
            bottom: .4vh;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .personfooter1 {
            position: absolute;
            width: 300px;
            height: 340px;
            top: 80vh;
            left: 38%;
            z-index: 999;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .greengrassfooter2 {
            position: absolute;
            width: 200px;
            height: 300px;
            top: 76vh;
            left: 33%;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            animation: bottle infinite linear alternate 1.5s;
        }
        .greengrassfooter1 {
            position: absolute;
            width: 500px;
            height: 600px;
            top: 45vh;
            margin-left: -18%;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            animation: bottle infinite linear alternate 1.5s;
        }
        .bluegrassfooter1 {
            position: absolute;
            width: 450px;
            height: 550px;
            top: 20vh;
            right: -10%;
            animation: bottle infinite linear alternate 1.5s;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .textfooter {
            position: absolute;
            width: 280px;
            height: auto;
            transform: rotate(30deg);
            top: 43vh;
            right: 5%;
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            >p {
                position: absolute;
                font-family: mainregular;
                font-size: 25px;
                top: 30%;
                left: 20%;
            }
        }
    }
}

